.pics {
  margin: 8px;
  border: 4px solid green;
  padding: 4px;
  background-color: lightyellow;

h1 {
  text-align: center;
  font-color: green;
}

.sidebar {
  width:40%
  float; right;
  background-color: green;
}

.notice {
  color: orangered;
  font-weight: bolder;
}

.mine {
  font-family: cursive;
  color: darkgreen;
}

#highlight {
  color: yellow;
  font-weight: bold;
}

@media screen and (min-width:700px) {
  .column {
    width:360px;
    float: left;
    padding: 16px;
  }
}
@media screen and (max-width:800px) and (min-width: 700px) {
  body {
  background-color: lightyellow;
  }
}
@media screen and (max-width:380px){
  body {
    background-color: darkgreen;
  }
}
